*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.contenedor{
    width: 100%;
    max-width: 1000px;
    margin: auto;
    margin-top: 2.2rem;
    margin-bottom: 2rem;
    overflow: hidden;
    border: 1px solid black;
}
.tarjeta{
    width: 100%;
    margin-top: 0rem;
    margin-bottom: rem;
}
.tarjeta .encabezado .linea1{

    background: blue;
    padding: 10px;
    color: #fff;
    font-size: 20px;
    display: flex;
    justify-content: space-between;
    
}

.tarjeta .encabezado .linea1 a span{
    
    font-size: 20px;
    color: #fff;
    padding-left: 15px;
    padding-right: 15px;
}
.tarjeta .encabezado .linea1 a span:hover{
    font-size: 20px;
    padding-left: 15px;
    padding-right: 15px;
    background-color: rgba(255, 255, 255,.3);
}
.tarjeta .encabezado .linea2{

    background: rgb(14, 155, 205);
    padding: 10px;
    color: #fff;
    font-size: 15px;
    display: flex;
    justify-content: center;
    
}
.tarjeta .encabezado .linea3{

    background: #fff;
    padding: 10px;
    color: black;
    font-size: 12px;
    display: flex;
    justify-content: center;
    
}

/*------Contenedor de formulario----------*/

.contenedor2{
    
    width: 95%;
    margin: auto;
    overflow: hidden;
    /*border: 1px solid green;*/
    padding: 0;

}
.contenedor2 .seccion{
    margin: 20px 0;
   /* border: 1px solid gold;*/
    padding: 0;
}
.contenedor2 .seccion .titulo{
    font-size: 20px;
    color: blue;
   /* border: 1px solid pi;*/
}
.contenedor2 .seccion  .formulario{
    width: 100%;
    display: flex;
    /*border: 1px solid pink;*/
}
.contenedor2 .seccion  .formulario ol li{
    width: 100%;
    margin: 15px;
    padding-right: 0;
    /*border: 1px solid gold;*/
}
/*.contenedor2 .seccion  .formulario .entrada{
    margin-left: 15px;
    margin-top: 0px;
    width: 90%;
}*/
.contenedor2 .seccion  .formulario label{
    display: inline-block;
    text-align: left;
    width: 200px;
}
.contenedor2 .seccion  .formulario input,select{
    width: 69%;
}
/*las preguntas horizontales*/
.contenedor2 .seccion  .formulario .tresP{
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
}
/*------------footer------------------*/
.contenedor3{
    width: 95%;
    max-width: 1000px;
    margin: auto;
    margin-bottom: 2.2rem;
    overflow: hidden;
    /*border: 1px solid green;*/
}
.contenedor3 .btn1{
    color: #fff;
    border: none;
    margin-left: 35px;
    padding-left: 15px;
    padding-right: 15px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 17px;
    background: blue;
    padding: 10px 30px;
    border-radius: 3px;
}
.contenedor3 .btn2{
    color: #fff;
    margin-right: 28px;
    padding-left: 15px;
    padding-right: 15px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 17px;
    background: blue;
    border: none;
    padding: 10px 30px;
    border-radius: 3px;
}
.contenedor3 .btn1{
    color: #fff;
    margin-left: 35px;
    padding-left: 15px;
    padding-right: 15px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 17px;
    background: blue;
}
.contenedor3 .btn1:hover{
    color: #fff;
    background: rgba(83 , 91, 134,.8);
}
.contenedor3 .btn2:hover{
    color: #fff;
    background: rgba(83 , 91, 134,.8);
}
.contenedor3 footer{
    display: flex;
    justify-content: space-between;
}

@media screen and (max-width:700px) {
    .tarjeta .encabezado .linea1{

        background: pink;
        padding: 10px;
        color: #fff;
        font-size: 20px;
        display: flex;
        justify-content: space-between;
        
    }
    .contenedor2 .seccion{
        margin: 20px 0;
       /* border: 1px solid gold;*/
        padding: 10px;
    }
    .contenedor2 .seccion  .formulario input,select{
        width: 40% ;
    }
    .contenedor2 .seccion  .formulario .tresP{
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        
    }
    
}
@media screen and (max-width:500px) {
    .tarjeta .encabezado .linea1{

        background: yellow;
        padding: 10px;
        color: black;
        font-size: 20px;
        display: flex;
        justify-content: space-between;
        
    }
    .contenedor2 .seccion{
        margin: 20px 0;
       /* border: 1px solid gold;*/
        padding: 15px;
    }
    .contenedor2 .seccion  .formulario input,select{
        width: 100% ;
    }
    .contenedor2 .seccion  .formulario .tresP{
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        
    }
    
}

/*

    .contenedor2 .seccion  .formulario{
        display: flex;
        width: 576px;
        border: 1px solid palevioletred;
    }
    .contenedor2 .seccion  .formulario ol{
        width: 500px;
        border: 1px solid blue;
    }
    .contenedor2 .seccion  .formulario ol li{
        width: 100%;
        border: 1px solid gold;
    }
    .contenedor2 .seccion  .formulario .tresP{
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        
    }
    .contenedor2 .seccion  .formulario label{
        display: inline-block;
        justify-content: space-between;
        width: 50%;
    }
    .contenedor2 .seccion  .formulario input{
        width: 30%;
    }
    
    .contenedor2 .seccion  .formulario .tresP label{
        display: inline-block;
        text-align: left;
        width: 50%;
    }
    .contenedor2 .seccion  .formulario .tresP input{
        width: 30%;
    }
*/